.appraisal {
	max-width: 1024px;
	margin: auto;
}
.appraisal__title__wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 30px;
}
.appraisal__title {
	font-size: var(--font-medium);
	color: rgb(255, 126, 75);
	font-weight: bold;
}
.appraisal__title__button {
	font-size: var(--font-regular);
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.appraisal__popularityList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.appraisal__popularityList__card {
	width: 330px;
	margin-bottom: 20px;
}

.appraisal__popularityList__card__wrap {
	justify-content: space-between;
	display: flex;
}
.appraisal__popularityList__img {
	background-color: rgb(255, 229, 212);
	width: 330px;
	height: 200px;
	margin-bottom: 7px;
}
.aappraisal__popularityList__title {
	font-weight: bold;
	font-size: var(--font-small);
}
.aappraisal__popularityList__price__name {
	position: relative;
	font-size: var(--font-micro);
}
.appraisal__popularityList__price {
	position: relative;
	font-size: var(--font-small);
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.appraisal__popularityList__card {
		margin: auto;
		width: 370px;
		margin-bottom: 20px;
	}
	.appraisal__popularityList__img {
		width: 370px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.appraisal__popularityList {
		height: 1000px;
		margin: auto;
		overflow: hidden;
	}
	.appraisal__popularityList__card {
		margin: auto;
		width: 350px;
		margin-bottom: 20px;
	}
	.appraisal__popularityList__img {
		width: 350px;
	}

	.appraisal__title {
		font-size: var(--font-regular);
	}
	.appraisal__title__button {
		font-size: var(--font-small);
	}
}

@media all and (max-width: 479px) {
	.appraisal__popularityList {
		height: 490px;
		margin: auto;
		overflow: hidden;
	}
	.appraisal__popularityList__card {
		margin: auto;
		width: 320px;
		margin-bottom: 20px;
	}
	.appraisal__popularityList__img {
		width: 320px;
	}
	.appraisal__title {
		font-size: var(--font-regular);
	}
	.appraisal__title__button {
		font-size: var(--font-small);
	}
}
