.Appraisal__main {
	background-color: rgb(255, 242, 232);
	height: 400px;
	width: 100%;
}

.Appraisal__main__container {
	max-width: 1024px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}

.Appraisal__main__image {
	background: url("../assets/img/Appraisal__main__image.png") center/cover;
	position: relative;
	width: 600px;
	height: 400px;
	top: 90px;
}

.Appraisal__main__wrap {
	text-align: center;
	align-items: center;
}

.Appraisal__main__title {
	font-size: var(--font-medium);
	font-weight: bold;
	margin-bottom: 20px;
}

.Appraisal__main__button {
	background-color: var(--color-dark-orange);
	color: white;
	font-size: var(--font-regular);
	border-radius: 50px;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 13px;
	transition: all 250ms ease-in;
}
.Appraisal__main__button:hover {
	background-color: white;
	color: rgb(255, 149, 107);
}
.Appraisal__division__line {
	margin-top: 30px;
	border-bottom: solid gray 0.1px;
	opacity: 0.3;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.Appraisal__main__image {
		transition: all 250ms ease-in;
		width: 500px;
		top: 106px;
		margin-left: 50px;
	}
	.Appraisal__main__wrap {
		margin-right: 80px;
	}

	.Appraisal__main__title {
		font-size: 1.5rem;
	}
	.Appraisal__main__button {
		font-size: var(--font-regular);
		padding: 13px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.Appraisal__main__container {
		flex-direction: column-reverse;
	}
	.Appraisal__main__image {
		transition: all 250ms ease-in;
		width: 400px;
		height: 200px;
		top: 135px;
	}
	.Appraisal__main__wrap {
		position: relative;
		top: 90px;
	}
	.Appraisal__main__title {
		font-size: var(--font-regular);
	}
	.Appraisal__main__button {
		font-size: var(--font-micro);
	}
}

@media all and (max-width: 479px) {
	.Appraisal__main {
		height: 300px;
	}
	.Appraisal__main__container {
		flex-direction: column-reverse;
	}
	.Appraisal__main__image {
		width: 300px;
		height: 200px;
		top: 50px;
	}
	.Appraisal__main__wrap {
		position: relative;
		top: 50px;
	}
	.Appraisal__main__title {
		font-size: var(--font-small);
	}
	.Appraisal__main__button {
		font-size: var(--font-micro);
	}
}
