.appraisal {
	max-width: 1024px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.appraisal__title__wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 30px;
}
.appraisal__title {
	font-size: var(--font-medium);
}
.appraisal__title__button {
	font-size: var(--font-small);
	background-color: transparent;
	cursor: pointer;
	border: none;
	margin-top: 6px;
	outline: none;
	transition: all 300ms ease-in;
}

.appraisal__title__button:hover {
	color: var(--color-dark-orange);
}

.appraisal__highPriceList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin: auto;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
}
.appraisal__highPriceList__right {
	display: flex;
	margin: auto;
	position: absolute;
	top: 115px;
	width: 100%;
	left: 1024px;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
	transform: translateX(0px);
}
.appraisal__highPriceList__right__move {
	display: flex;
	margin: auto;
	position: relative;
	left: 1024px;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
	transform: translateX(-1024px);
}
.appraisal__highPriceList__left__move {
	display: flex;
	position: absolute;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
	transform: translateX(-1024px);
}
.appraisal__highPriceList__card:hover {
	position: relative;
	transition: all 250ms ease-in;
	box-shadow: 0px 0px 2px 1px rgba(109, 109, 109, 0.2);
}

.appraisal__highPriceList__card {
	width: 240px;
	height: 340px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 15px;
	border-radius: 6px;
}

.appraisal__highPriceList__card__wrap {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.appraisal__highPriceList__nickAndLikeWrap {
	justify-content: space-between;
	display: flex;
}
.appraisal__highPriceList__nick {
	color: grey;
	font-size: var(--font-micro);
	margin-bottom: 3px;
}
.appraisal__highPriceList__likeAndCount {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.appraisal__highPriceList__like {
	margin-right: 5px;
	color: var(--color-dark-orange);
}
.appraisal__highPriceList__img {
	background: url("../assets/img/나비.jpeg") center/cover;
	width: 240px;
	height: 240px;
	margin-bottom: 7px;
	border-radius: 5px;
}

.appraisal__highPriceList__title {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 7px;
}
.appraisal__highPriceList__titleAndLikeCount {
	justify-content: space-between;
	display: flex;
}
.appraisal__highPriceList__likeCount {
	margin-right: 9px;
	font-size: var(--font-micro);
}
.appraisal__highPriceList__price__name {
	position: relative;
	font-size: var(--font-small);
}
.appraisal__highPriceList__price {
	position: relative;
	font-size: var(--font-small);
}

.appraisal__nextButton {
	font-size: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--color-dark-orange);
}
.appraisal__nextButton__leftdot {
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--color-dark-orange);
	transition: all 300ms;
}
.appraisal__nextButton__rightdot {
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	color: grey;
	transition: all 300ms;
}
.appraisal__nextButton__container {
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.appraisal {
		max-width: 850px;
	}
	.CategoryList__buttonBox {
		margin-bottom: -20px;
	}

	.appraisal__title__wrap {
		margin-top: 50px;
		margin-bottom: 20px;
	}

	.appraisal__title {
		font-size: var(--font-medium);
		margin-left: 20px;
	}

	.appraisal__highPriceList__title {
		font-size: 12px;
	}
	.appraisal__highPriceList__card {
		width: 185px;
		height: 300px;
		margin: auto;
	}

	.appraisal__highPriceList__img {
		width: 185px;
		height: 185px;
	}
	.appraisal__title__button {
		margin-top: 5px;
		margin-right: 20px;
	}
	.appraisal__highPriceList__right {
		top: 105px;
	}
	.appraisal__highPriceList__price {
		font-size: 15px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.appraisal {
		max-width: 680px;
	}
	.CategoryList__buttonBox {
		margin-bottom: -20px;
	}

	.appraisal__highPriceList__card {
		margin: auto;
		width: 270px;
		height: 350px;
		margin-bottom: 20px;
	}
	.appraisal__highPriceList__img {
		width: 270px;
		height: 270px;
	}

	.appraisal__title {
		margin-left: 20px;
		font-size: var(--font-regular);
	}
	.appraisal__title__button {
		margin-right: 20px;
		font-size: var(--font-small);
	}
	.appraisal__highPriceList__right {
		top: 110px;
	}
	.appraisal__highPriceList__title {
		font-size: var(--font-micro);
	}
	.appraisal__highPriceList__price__name {
		font-size: var(--font-micro);
	}

	.appraisal__highPriceList__price {
		font-size: 14px;
	}
}

@media all and (max-width: 479px) {
	.appraisal__highPriceList {
		height: 800px;
		margin: auto;
		overflow: hidden;
	}

	.appraisal__highPriceList__left__move {
		height: 490px;
		overflow: hidden;
	}
	.appraisal__highPriceList__right {
		height: 490px;
		overflow: hidden;
	}

	.appraisal__highPriceList__right__move {
		height: 490px;
		overflow: hidden;
	}
	.appraisal__highPriceList__card {
		margin: auto;
		width: 160px;
		height: 250px;
		margin-bottom: 20px;
	}
	.appraisal__highPriceList__img {
		width: 160px;
		height: 160px;
	}
	.appraisal__title {
		margin-left: 20px;
		font-size: var(--font-regular);
	}
	.appraisal__title__button {
		margin-right: 20px;
		font-size: var(--font-small);
	}
	.appraisal__nextButton__container {
		display: none;
	}
	.appraisal__highPriceList__nick {
		font-size: 10px;
	}
	.appraisal__highPriceList__title {
		font-size: 10px;
	}
	.appraisal__highPriceList__likeCount {
		font-size: 10px;
		margin-right: 9.5px;
	}
	.appraisal__highPriceList__price {
		font-size: 12px;
	}
}
