.appraisalCategoryList {
	position: relative;
	margin: auto;
	max-width: 1024px;
	margin: auto;
	top: 30px;
}

.appraisalCategoryList__title__wrap {
	margin-bottom: 20px;
}

.appraisalCategoryList__title {
	font-size: var(--font-regular);
	font-weight: bold;
	color: var(--color-dark-orange);
}

.appraisalCategoryList__more__up,
.appraisalCategoryList__more__down {
	position: relative;
	color: var(--color-dark-orange);
	background-color: transparent;
	top: 8px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	transition: all 250ms ease-in;
}
.appraisalCategoryList__more__down:hover {
	color: var(--color-dark-orange);
	top: 13px;
}
.appraisalCategoryList__more__up:hover {
	color: var(--color-dark-orange);
	top: 3px;
}
.appraisalCategoryList__buttonBox {
	margin: auto;
}
.appraisalCategoryList__buttonBox__button {
	font-size: var(--font-micro);
	text-align: center;
	color: rgb(48, 48, 48);
	background-color: white;
	border: 1.5px solid var(--color-dark-orange);
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	padding: 10px;
	margin: 6px;
	transition: all 250ms ease-in;
}
.appraisalCategoryList__buttonBox__button:hover {
	color: white;
	background-color: var(--color-dark-orange);
}
.appraisalCategoryList__buttonBox__buttonActive {
	font-size: var(--font-micro);
	text-align: center;
	color: white;
	background-color: var(--color-dark-orange);
	border: 1.5px solid var(--color-orange);
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	padding: 10px;
	margin: 6px;
	transition: all 250ms ease-in;
}
.appraisalCategoryList__buttonBox__button__modal {
	display: none;
}
.appraisalAllList {
	max-width: 1024px;
	margin: auto;
}
.appraisalAllList__title__wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	margin-bottom: 30px;
}
.appraisalAllList__title {
	font-size: var(--font-medium);
	color: var(--color-dark-orange);
}

.appraisalAllList__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.appraisalAllList__container__card {
	width: 240px;
	height: 340px;
	margin-bottom: 20px;
	border-radius: 6px;
}

.appraisalAllList__container__card:hover {
	position: relative;
	transition: all 250ms ease-in;
	box-shadow: 0px 0px 2px 1px rgba(109, 109, 109, 0.2);
}
.appraisalAllList__container__card__wrap {
	display: flex;
	justify-content: space-between;
}
.appraisalAllList__container__wrap {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.appraisalAllList__container__img {
	background: url("../assets/img/나비.jpeg") center/cover;
	border-radius: 6px;
	width: 240px;
	height: 240px;
	margin-bottom: 7px;
}
.appraisalAllList_-container__nickAndLikeWrap {
	justify-content: space-between;
	display: flex;
}
.appraisalAllList__container__likeAndCount {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.appraisalAllList__container__like {
	margin-right: 5px;
}
.appraisalAllList__container__nick {
	color: grey;
	font-size: var(--font-micro);
	margin-bottom: 3px;
}
.appraisalAllList__container__like {
	color: var(--color-dark-orange);
}
.appraisalAllList__container__titleAndLikeCount {
	justify-content: space-between;
	display: flex;
}
.appraisalAllList__container__title {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 7px;
}
.appraisalAllList__container__likeCount {
	margin-right: 3px;
	font-size: var(--font-micro);
}
.appraisalAllList__container__price {
	position: relative;
	font-size: 15px;
}

.appraisalAllList__container__moreButton {
	text-align: center;

	font-size: 80px;
	cursor: pointer;
	color: var(--color-orange);
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.appraisalCategoryList {
		max-width: 850px;
	}
	.appraisalAllList {
		max-width: 850px;
	}
	.appraisalCategoryList__buttonBox {
		margin-left: 10px;
	}
	.appraisalCategoryList__title {
		margin-left: 10px;
	}
	.appraisalCategoryList__buttonBox__button {
		font-size: 12px;
		padding: 7px;
		margin: 5px;
	}
	.appraisalCategoryList__buttonBox__buttonActive {
		font-size: 12px;
		padding: 7px;
		margin: 5px;
	}

	.appraisalAllList__title {
		font-size: var(--font-regular);
	}

	.appraisalAllList__container__card {
		width: 240px;
		margin: auto;
		margin-bottom: 20px;
	}
	.appraisalAllList__container__img {
		width: 240px;
	}
	.appraisalAllList__container__wrap {
		margin-bottom: 8px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.appraisalCategoryList__title__wrap {
		justify-content: center;
	}
	.appraisalCategoryList__title {
		margin-left: 10px;
	}

	.appraisalCategoryList__buttonBox__button {
		font-size: 12px;
		padding: 6px;
		margin: 3px;
	}
	.appraisalCategoryList__buttonBox__buttonActive {
		font-size: 12px;
		padding: 6px;
		margin: 3px;
	}
	.appraisalAllList__title {
		font-size: var(--font-regular);
		margin-left: 10px;
	}
	.appraisalAllList__container__card {
		width: 200px;
		margin: auto;
		height: 300px;
		justify-content: space-evenly;
		margin-bottom: 7px;
	}
	.appraisalAllList__container__img {
		width: 200px;
		height: 200px;
	}
	.appraisalAllList__container__wrap {
		margin-bottom: 10px;
	}
	.appraisalAllList__container__nick {
		font-size: 11px;
	}
	.appraisalAllList__container__title {
		font-size: 11px;
	}
	.appraisalAllList__container__price {
		font-size: 13px;
	}
}

@media all and (max-width: 479px) {
	.appraisalCategoryList__title__wrap {
		justify-content: center;
		display: flex;
	}
	.appraisalCategoryList__title {
		margin-left: 10px;
	}
	.appraisalCategoryList__more__up,
	.appraisalCategoryList__more__down {
		top: -7px;
		transition: all 250ms ease-in;
	}
	.appraisalCategoryList__more__down:hover {
		color: var(--color-dark-orange);
		top: -2px;
	}
	.appraisalCategoryList__more__up:hover {
		color: var(--color-dark-orange);
		top: -12px;
	}
	.appraisalCategoryList__buttonBox {
		max-height: 230px;
		margin-left: 10px;
		display: flex;
		flex-flow: column wrap;
	}

	.appraisalCategoryList__buttonBox__button {
		display: none;
	}

	.appraisalCategoryList__buttonBox__buttonActive {
		display: none;
	}

	.appraisalCategoryList__buttonBox__button__modal {
		display: flex;
		font-size: var(--font-micro);
		text-align: center;
		color: rgb(0, 0, 0);
		background-color: transparent;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 6px;
		transition: all 250ms ease-in;
	}
	.appraisalAllList__title {
		margin-left: 10px;
		font-size: var(--font-regular);
	}
	.appraisalAllList__container__card {
		width: 170px;
		margin: auto;
		height: 270px;
		justify-content: space-evenly;
	}
	.appraisalAllList__container__img {
		width: 170px;
		height: 170px;
	}
	.appraisalAllList__container__wrap {
		margin-bottom: 20px;
	}
	.appraisalAllList__container__nick {
		font-size: 11px;
	}
	.appraisalAllList__container__title {
		font-size: 11px;
	}
	.appraisalAllList__container__price {
		font-size: 12px;
	}
	.appraisalAllList__container__likeCount {
		font-size: 10px;
		margin-right: 5px;
	}
}
