.header {
	width: 100%;
	background: var(--color-yellow);
	/* border-bottom: 1px solid;
	box-shadow: 0px 0px 3px 0px var(--color-grey); */
	font-family: "jua";
	color: black;
	font-weight: var(--weight-bold);
}

.header__container {
	box-sizing: border-box;
	max-width: 1024px;
	margin: auto;
	display: flex;
	height: 80px;
	align-items: center;
	padding: 10px;
}

.header__logo {
	flex-basis: 15%;
	height: 40px;
	display: flex;
	justify-content: center;
}
.header__search {
	flex-basis: 45%;
	display: flex;
	justify-content: center;
}
.header__search > input::placeholder {
	color: var(--color-light-grey);
}
.header__search__input {
	width: 75%;
	height: 30px;
	box-sizing: border-box;
	border: none;
	padding: 6px;

	border-radius: 5px 0px 0px 5px;
}
.header__search__button {
	display: inline-block;
	border-left: 0px;
	border: none;
	height: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 0px 5px 5px 0px;
	background: var(--color-dark-orange);
}

.header__menu__link {
	flex-basis: 20%;
	display: flex;
	justify-content: space-around;
}
.header__menu__link__button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	color: black;
}

.header__menu__link__button > div {
	margin-left: 4px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-family: "jua";
}
.header__menu__login {
	flex-basis: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 24px;
	line-height: 24px;
}

.header__menu__button {
	text-decoration: none;
	color: black;
	border: none;
	background: transparent;
	font-size: var(--font-small);
}

.header__menu__button.login {
	margin-left: 30px;
}
.header__menu__login button {
	padding: 0;
	height: 24px;
	line-height: 24px;
	font-family: "jua";
}
