.mypage__store {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	min-height: 360px;
}

.store__title__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
	padding: 30px 10px 15px 0px;
	align-items: flex-end;
	border-bottom: solid 2px var(--color-black);
}
.store__title {
	font-size: var(--font-regular);
	font-weight: bold;
}
.store__title__addLink {
	font-size: var(--font-micro);
	color: var(--color-light-grey);
	font-weight: var(--weight-small);
}
.store__title__addLink:hover {
	font-weight: var(--weight-bold);
	color: var(--color-black);
}

.store__img__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	padding: 5px;
	justify-content: center;
	margin-bottom: 30px;
}
.store__img {
	width: 220px;
	margin: 15px;
	margin-bottom: 0px;
	height: 220px;
	background-color: var(--color-light-green);
}
.store__img__name {
	margin-left: 15px;
	color: var(--color-dark-grey);
	font-size: 12px;
}

.request__none {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 40px 0px 40px 0px;
}
.request__none__img {
	width: 40px;
	text-align: center;
}
.request__none__title {
	margin-top: 20px;
	font-size: 20px;
}
.mypage__goshop__btn {
	margin-top: 20px;
	background: var(--color-pink);
	padding: 4px 8px 4px 8px;
	border-radius: 6px;
	border: none;
}
.mypage__goappraisal__btn {
	margin-top: 20px;
	background: var(--color-dark-orange);
	padding: 4px 8px 4px 8px;
	border-radius: 6px;
	border: none;
}

@media all and (max-width: 768px) {
	.mypage__store {
		margin: 0;
	}
	.store__title__container {
		margin: 0;
		padding: 15px;
		border-bottom: 1px solid var(--color-light-grey);
	}
	.store__img {
		margin: 10px;
		margin-bottom: 0px;
		width: 150px;
		height: 150px;
	}
	.store__img__name {
		margin-left: 10px;
		color: var(--color-light-grey);
		font-size: 10px;
	}
}
