.mypage__store {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

.store__title__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
	padding: 30px 10px 15px 0px;
	align-items: flex-end;
	border-bottom: solid 2px var(--color-black);
}
.store__title {
	font-size: var(--font-regular);
	font-weight: bold;
}
.store__title__addLink {
	font-size: var(--font-micro);
	color: var(--color-light-grey);
	font-weight: var(--weight-small);
}
.store__title__addLink:hover {
	font-weight: var(--weight-bold);
	color: var(--color-black);
}

.store__img__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	padding: 5px;
	justify-content: center;
}
.store__img {
	width: 220px;
	margin: 15px;
	height: 140px;
	background-color: var(--color-light-green);
}

@media all and (max-width: 768px) {
	.mypage__store {
		margin: 0;
	}
	.store__title__container {
		margin: 0;
		padding: 15px;
		border-bottom: 1px solid var(--color-light-grey);
	}
	.store__img {
		width: 150px;
		height: 90px;
	}
}
