#register__appraisal__section {
	width: 100%;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "noto_sans";
}

.register__appraisal__title {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
	padding: 0px 32px 16px;
	border-bottom: 2px solid var(--color-light-grey);
}
.register__appraisal__container {
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.register__title__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 16px;
	padding: 0px 32px 0px 32px;
}

.appraisal__register__title__content,
.appraisal__register__price__content {
	margin-top: 16px;
	background: transparent;
	border: none;
	border: 2px solid var(--color-dark-orange);
	font-size: 20px;
	padding: 16px;
	border-radius: 4px;
}

.appraisal__register__title__container,
.register__appraisal__category__container,
.register__appraisal__price__container,
.register__appraisal__description__container,
.register__appraisal__img__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
}
.appraisal__category__title,
.appraisal__register__title,
.appraisal__price__title,
.appraisal__description__title,
.appraisal__img__title {
	font-size: 24px;
}

.appraisal__category__button__container {
	margin-top: 16px;
}
input::placeholder {
	font-size: 16px;
	color: var(--color-light-grey);
}
.appraisal__description__container {
	margin-top: 16px;
	background: transparent;
	border: 2px solid var(--color-dark-orange);
	font-size: 20px;
	padding: 16px;
	border-radius: 4px;
}
.appraisal__description__content {
	background: transparent;
	width: 100%;
	height: 150px;
	font-size: 20px;
	border: none;
	outline: none;
	font-family: "noto_sans";
	font-weight: var(--weight-semi-bold);
}

.description__info {
	font-size: small;
	color: var(--color-dark-orange);
	margin-top: 10px;
}
.input-file-button {
	width: 60px;
	text-align: center;
}
.appraisal__input__file__button {
	margin: 16px;
	font-size: 24px;
	padding-top: 0px;
	height: 32px;
	width: 32px;
	text-align: center;
	background: var(--color-dark-orange);
	cursor: pointer;
	border-radius: 50%;
}
.appraisal__register__img__box {
	margin-left: 16px;
	margin-bottom: 16px;
	font-size: 12px;
	color: var(--color-dark-grey);
}
/* .register__appraisal__img__container {
	padding: 16px;
} */
.appraisal__img__delete__btn {
	background-color: var(--color-dark-orange);
	border: none;
	padding: 6px;
	border-radius: 4px;
	margin-left: 16px;
	font-size: 12px;
	transition: all var(--animation-duration);
}
.appraisal__img__delete__btn:hover {
	transform: scale(1.1);
}
.appraisal__register__form__btn {
	margin: 50px;
	font-size: 18px;
	border: none;
	background: var(--color-dark-orange);
	padding: 12px 24px 12px 24px;
	border-radius: var(--size-border-radius);
	transition: all var(--animation-duration);
}
.register__form__btn:hover {
	transform: scale(1.1);
	background: var(--color-dark-orange);
}

.registerAppraisal {
	position: relative;
	margin: auto;
	max-width: 1024px;
	margin: auto;
	top: 30px;
}

.registerAppraisal__title__wrap {
	margin-bottom: 20px;
}

.registerAppraisal__title {
	font-size: var(--font-regular);
	font-weight: bold;
	color: var(--color-dark-orange);
}

.registerAppraisal__buttonBox {
	margin: auto;
}
.registerAppraisal__buttonBox__button {
	font-size: var(--font-micro);
	text-align: center;
	color: rgb(48, 48, 48);
	background-color: white;
	border: 1.5px solid var(--color-dark-orange);
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	padding: 10px;
	margin: 6px;
	transition: all 250ms ease-in;
}
.registerAppraisal__buttonBox__button:hover {
	color: white;
	background-color: var(--color-dark-orange);
}
.registerAppraisal__buttonBox__buttonActive {
	font-size: var(--font-micro);
	text-align: center;
	color: white;
	background-color: var(--color-dark-orange);
	border: 1.5px solid var(--color-dark-orange);
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	padding: 10px;
	margin: 6px;
	transition: all 250ms ease-in;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.registerAppraisal {
		max-width: 850px;
	}
	.registerAllList {
		max-width: 850px;
	}
	.registerAppraisal__buttonBox {
		margin-left: 10px;
	}
	.registerAppraisal__title {
		margin-left: 10px;
	}
	.registerAppraisal__buttonBox__button {
		font-size: 12px;
		padding: 7px;
		margin: 5px;
	}
	.registerAppraisal__buttonBox__buttonActive {
		font-size: 12px;
		padding: 7px;
		margin: 5px;
	}
}
@media all and (max-width: 768px) {
	.register__appraisal__title {
		margin: 0px;
		padding: 10px 0px 10px 16px;
		border: none;
		background: var(--color-dark-orange);
		font-size: 24px;
	}
	.appraisal__register__title__container,
	.register__appraisal__category__container,
	.register__appraisal__price__container,
	.register__appraisal__description__container,
	.register__appraisal__img__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 16px;
		margin-bottom: 0px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.appraisal__category__title,
	.appraisal__register__title,
	.appraisal__price__title,
	.appraisal__description__title,
	.appraisal__img__title {
		font-size: 16px;
	}

	.appraisal__register__title__content,
	.appraisal__register__price__content {
		margin-top: 8px;
		background: transparent;
		border: none;
		border: 2px solid var(--color-dark-orange);
		font-size: 16px;
		padding: 8px;
		border-radius: 4px;
	}
	.appraisal__description__container {
		margin-top: 8px;
		padding: 8px;
		font-size: 16px;
	}
	.appraisal__register__form__btn {
		margin-top: 32px;
		margin-bottom: 40px;
		padding: 8px 16px 8px 16px;
	}
	.register__footer {
		display: none;
	}
	.registerAppraisal__buttonBox__button {
		padding: 4px 8px 4px 8px;
		margin: 2px;
		font-size: 10px;
	}
	.appraisal__category__button__container {
		justify-content: center;
	}
	.appraisal__input__file__button {
		margin: 8px 0px 8px 8px;
	}
	.appraisal__register__img__box {
		margin: 0px 0px 0px 8px;
	}
}
