.shop {
	max-width: 1024px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.shop__title__wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 30px;
}
.shop__title {
	font-size: var(--font-medium);
}
.shop__title__button {
	font-size: var(--font-regular);
	background-color: transparent;
	cursor: pointer;
	margin-top: 6px;
	border: none;
	outline: none;
	transition: all 300ms ease-in;
}

.shop__title__button:hover {
	color: var(--color-dark-pink);
}

.shop__popularity {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin: auto;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
}
.shop__popularity__right {
	display: flex;
	margin: auto;
	position: absolute;
	top: 120px;
	width: 100%;
	left: 1024px;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
	transform: translateX(0px);
}
.shop__popularity__right__move {
	display: flex;
	margin: auto;
	position: relative;
	left: 1024px;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
	transform: translateX(-1024px);
}
.shop__popularity__left__move {
	display: flex;
	position: absolute;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
	margin-bottom: -18px;
	transition: all 350ms ease-in;
	transform: translateX(-1024px);
}
.shop__popularity__card:hover {
	position: relative;
	transition: all 250ms ease-in;
	box-shadow: 0px 0px 2px 1px rgba(109, 109, 109, 0.2);
}

.shop__popularity__card {
	width: 310px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 35px;
	border-radius: 6px;
}

.shop__popularity__card__wrap {
	justify-content: space-between;
	display: flex;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.shop__popularity__img {
	background: url("../assets/img/나비.jpeg") center/cover;
	width: 310px;
	height: 200px;
	margin-bottom: 7px;
	border-radius: 5px;
}
.shop__popularity__title {
	font-weight: bold;
	font-size: var(--font-micro);
}
.shop__popularity__price__name {
	position: relative;
	font-size: var(--font-micro);
}
.shop__popularity__price {
	position: relative;
	font-size: var(--font-micro);
}

.shop__nextButton {
	font-size: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--color-dark-pink);
}
.shop__nextButton__leftdot {
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--color-dark-pink);
	transition: all 300ms;
}
.shop__nextButton__rightdot {
	font-size: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	color: grey;
	transition: all 300ms;
}
.shop__nextButton__container {
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
	.shop {
		max-width: 850px;
	}
	.CategoryList__buttonBox {
		margin-bottom: -20px;
	}

	.shop__title__wrap {
		margin-top: 50px;
		margin-bottom: 20px;
	}

	.shop__title {
		font-size: var(--font-medium);
		margin-left: 20px;
	}

	.shop__popularity__card {
		margin: auto;
		width: 370px;
		margin-bottom: 20px;
	}

	.shop__popularity__img {
		width: 370px;
	}
	.shop__title__button {
		margin-top: 5px;
		margin-right: 20px;
	}
	.shop__popularity__right {
		top: 110px;
	}
	.shop__popularity__right__move {
		/* top: 120px; */
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.shop {
		max-width: 680px;
	}
	.CategoryList__buttonBox {
		margin-bottom: -20px;
	}

	.shop__popularity__card {
		margin: auto;
		width: 300px;
		margin-bottom: 20px;
	}
	.shop__popularity__img {
		width: 300px;
	}

	.shop__title {
		margin-left: 20px;
		font-size: var(--font-regular);
	}
	.shop__title__button {
		margin-right: 20px;
		font-size: var(--font-small);
	}
	.shop__popularity__right {
		top: 106px;
	}
	.shop__popularity__right__move {
		/* top: 120px; */
	}
}

@media all and (max-width: 479px) {
	.shop__popularity {
		height: 740px;
		margin: auto;
		overflow: hidden;
	}

	.shop__popularity__left__move {
		height: 490px;
		overflow: hidden;
	}
	.shop__popularity__right {
		height: 490px;
		overflow: hidden;
	}

	.shop__popularity__right__move {
		height: 490px;
		overflow: hidden;
	}
	.shop__popularity__card {
		margin: auto;
		width: 320px;
		margin-bottom: 20px;
	}
	.shop__popularity__img {
		width: 320px;
	}
	.shop__title {
		margin-left: 20px;
		font-size: var(--font-regular);
	}
	.shop__title__button {
		margin-right: 20px;
		font-size: var(--font-small);
	}
	.shop__nextButton__container {
		display: none;
	}
}
