.ShopComment {
	max-width: 600px;
	margin: auto;
}
.ShopComment__container {
	width: 100%;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.ShopComment__container:hover {
	background-color: rgba(197, 197, 197, 0.1);
}
.ShopComment__noComment {
	justify-content: center;
	margin: auto;
}
.ShopComment__box {
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.ShopComment__box__nameAndTitle {
	display: flex;
	justify-content: space-between;
}
.ShopComment__box__name {
	font-size: var(--font-micro);
	margin-bottom: 15px;
}
.ShopComment__box__time {
	font-size: 10px;
}
.ShopComment__box__textAndButton {
	display: flex;
	justify-content: space-between;
}
.ShopComment__box__text {
	font-size: var(--font-small);
}
.ShopComment_divdieLineNameAndTitle {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -5px;
	margin-bottom: 20px;
}
.ShopComment__box__buttonWrap {
	float: right;
}
.ShopComment__box__buttonWrap__submit {
	font-size: 10px;
	height: 25px;
	color: white;
	background-color: var(--color-dark-pink);
	border: none;
	cursor: pointer;
	outline: none;
	margin-left: 15px;
	border-radius: 5px;
	padding: 3px 12px 3px 12px;
}
.ShopComment__box__buttonWrap__delete {
	font-size: 10px;
	height: 25px;
	color: white;
	background-color: var(--color-dark-pink);
	border: none;
	cursor: pointer;
	outline: none;
	margin-left: 15px;
	border-radius: 5px;
	padding: 3px 12px 3px 12px;
}
.ShopComment__box__buttonWrap__submit:hover,
.ShopComment__box__buttonWrap__delete:hover {
	background-color: var(--color-pink);
}

.ShopComment_divdieLine {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
}
.ShopCommentBox_divdieLine {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 40px;
	margin-bottom: 40px;
}
.ShopCommentBox {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;
}
.ShopCommentBox__input {
	height: 30px;
	width: 70%;
}

.ShopCommentBox__button {
	height: 30px;
	color: white;
	background-color: var(--color-dark-pink);
	border: none;
	cursor: pointer;
	outline: none;
	margin-left: 15px;
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
}
.ShopCommentBox__button:hover {
	background-color: var(--color-pink);
}
.ShopCommentBoxModify {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 20px;
}
.ShopCommentBox__input__Modify {
	height: 30px;
	width: 70%;
}
.ShopCommentBox__button__Modify {
	height: 30px;
	color: white;
	background-color: var(--color-dark-pink);
	border: none;
	cursor: pointer;
	outline: none;
	margin-left: 15px;
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.ShopComment__box__text {
		font-size: 14px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.ShopComment {
		max-width: 500px;
		margin: auto;
	}

	.ShopComment__box__text {
		font-size: 14px;
	}
}

@media all and (max-width: 479px) {
	.ShopComment {
		max-width: 300px;
		margin: auto;
	}
	.ShopComment__box__name {
		font-size: 10px;
		margin-bottom: 15px;
	}
	.ShopComment__box__text {
		font-size: 12px;
	}
	.ShopComment__box__time {
		font-size: 10px;
	}
	.ShopComment__box__buttonWrap {
		margin-top: -5px;
	}
	.ShopComment__box__buttonWrap__submit,
	.ShopComment__box__buttonWrap__delete {
		font-size: 10px;
		padding: 0px 4px 0px 4px;
	}

	.ShopCommentBox__input__Modify {
		height: 20px;
		width: 70%;
	}
	.ShopCommentBox__button__Modify {
		height: 20px;
		font-size: 3px;
		color: white;
		background-color: var(--color-dark-pink);
		border: none;
		cursor: pointer;
		outline: none;
		margin-left: 15px;
		border-radius: 5px;
		padding: 0px 15px 0px 15px;
	}
	.ShopCommentBox__button {
		font-size: 10px;
		padding: 2px 15px 2px 15px;
	}
}
