.Appraisal__main {
	background-color: rgb(255, 239, 210);
	height: 400px;
	width: 100%;
}

.Appraisal__main__container {
	max-width: 1024px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}

.Appraisal__main__image {
	background: url("../assets/Appraisal__main__image.png") center/cover;
	position: relative;
	width: 600px;
	height: 400px;
	top: 120px;
}

.Appraisal__main__wrap {
	text-align: center;
	align-items: center;
}

.Appraisal__main__title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.Appraisal__main__button {
	/* background-color: orange; */
	background-color: rgb(255, 149, 107);
	color: white;
	font-size: 1.3rem;
	border-radius: 50px;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 13px;
	transition: all 250ms ease-in;
}
.Appraisal__main__button:hover {
	background-color: white;
	color: rgb(255, 149, 107);
}
.Appraisal__division__line {
	margin-top: 30px;
	border-bottom: solid gray 0.1px;
	opacity: 0.3;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.Appraisal__main__image {
		transition: all 250ms ease-in;
		width: 500px;
		top: 130px;
	}
	.Appraisal__main__title {
		font-size: 1.5rem;
	}
	.Appraisal__main__button {
		font-size: 1.2rem;
		padding: 13px;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.Appraisal__main__container {
		flex-direction: column-reverse;
	}
	.Appraisal__main__image {
		transition: all 250ms ease-in;
		width: 400px;
		height: 200px;
		top: 150px;
	}
	.Appraisal__main__wrap {
		position: relative;
		top: 90px;
	}
	.Appraisal__main__title {
		font-size: 1.4rem;
	}
	.Appraisal__main__button {
		font-size: 1.1rem;
	}
}

@media all and (max-width: 479px) {
	.Appraisal__main__container {
		flex-direction: column-reverse;
	}
	.Appraisal__main__image {
		width: 300px;
		height: 200px;
		top: 180px;
	}
	.Appraisal__main__wrap {
		position: relative;
		top: 150px;
	}
	.Appraisal__main__title {
		font-size: 1rem;
	}
	.Appraisal__main__button {
		font-size: 0.7rem;
	}
}
